html { 
  background: url(football_manager_2016_bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: arial;
  color: #343434;
  font-size: 18px;
  position: relative;
  height:100%;
}
h1{
	padding: 18px;
	padding-left: 0px;
	font-size: 30px;
}
h2{
	padding: 15px;
	padding-left: 0px;
	font-size: 20px;
}
a{
	color: blue;
}
div{
	padding: 20px;
	margin:100px;
	position: relative;
	top: 100px;
	background: rgba(255,255,255,  0.9);
	border-radius: 20px;
}
pre{
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}