html { 
  background: url(../images/football_manager_2016_bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: #343434;
  font-size: 12px;
}
h1{
	padding: 15px;
}
h2{
	padding: 15px;
}
p{
	padding: 15px;
}
div{
	padding: 15px;
	background: rgba(255,0,0,  0.5);
}